[submodule "third_party/RLDX-1"]
	path = third_party/RLDX-1
	url = git@github.com:junmocho-lab/RLDX-1.git
	branch = junmo/cjl-v6
[submodule "third_party/expo-ft"]
	path = third_party/expo-ft
	url = git@github.com:junmocho-lab/expo-ft.git
[submodule "third_party/dexjoco"]
	path = third_party/dexjoco
	url = https://github.com/brave-eai/dexjoco.git
[submodule "third_party/PolicyAgnosticRL"]
	path = third_party/PolicyAgnosticRL
	url = https://github.com/MaxSobolMark/PolicyAgnosticRL.git
[submodule "third_party/qam"]
	path = third_party/qam
	url = https://github.com/ColinQiyangLi/qam.git
[submodule "third_party/EXPO"]
	path = third_party/EXPO
	url = https://github.com/pd-perry/EXPO.git
[submodule "third_party/openpi"]
	path = third_party/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
